@font-face {
  src: url("../resources/fonts/Growqins.ttf");
  font-family: font;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: font;
}
button {
  font-family: font;
}
.error {
  color: #d62f2f;
}
.submit-button {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid #000;
  align-self: center;
}

.auth-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

/* @media only screen and (min-width: 700px) {
  .auth-box {
    position: absolute;
    top: 50%;
    right: 20vw;
    transform: translateY(-50%);
  }
} */
/* @media only screen and (max-width: 1000px) {
  .auth-box {
    background-color: red;
    display: block;
    top: 50%;
    right: 20vw;
    transform: translateY(-50%);
  }
} */
