@font-face {
  src: url("../resources/fonts/Growqins.ttf");
  font-family: font;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: font;
}
button {
  font-family: font;
}
