.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50vw + 330px);
  max-width: 100%;
  padding: 10px 35px;
}
.recipe-container img {
  height: calc(100px + 40vw);
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}
.recipe-container ul {
  position: relative;
}
.recipe-container div {
  font-size: 20px;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
